//====================================================================================================
.header {
	// .page__menu

	&__menu {
		@include adaptiveValue("padding-top", 35, 30);
	}
	&__row {
		@include adaptiveValue("padding-top", 40, 30);
	}
}

.menu {
	@media (max-width: $mobileSmall) {
		display: flex;
		justify-content: flex-end;
	}
	// .menu__body

	&__body {
		left: -100%;
		@media (max-width: $mobileSmall) {
			background-color: #fff;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			overflow: auto;
			transition: left 0.3s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				left: -100%;
				top: 0;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__icon

	&__icon {
	}

	// .menu__list

	&__list {
		@include adaptiveValue("padding-top", 25, 20);
		@include adaptiveValue("padding-left", 30, 25);
		font-size: rem(34);
		line-height: math.div(42, 34);
		position: relative;
		&::after {
			position: absolute;
			content: "";
			height: rem(1);
			background-color: #828282;
			width: 100%;
			bottom: 0;
			@media (max-width: $mobileSmall) {
				display: none;
			}
		}
		@media (min-width: $mobileSmall) {
			@include adaptiveValue("padding-bottom", 30, 20);
			padding-left: 0;
			padding-top: 0;
			display: flex;
			justify-content: space-between;
			font-size: rem(18);
			line-height: math.div(22, 18);
		}
	}

	// .menu__item

	&__item {
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: em(70, 50);
			}
		}
	}

	// .menu__link

	&__link {
		color: $mainSilverColor;
		line-height: math.div(22, 18);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				font-weight: 700;
			}
		}

		&_1 {
		}
		&_2 {
		}
		&_3 {
		}
		&_4 {
		}
		&_5 {
		}
	}
}

.row {
	// .row__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		@media (max-width: $mobileSmall) {
			flex-direction: column;
			align-items: start;
			padding-bottom: rem(35);
		}
	}

	// .row__title

	&__title {
		font-size: rem(47);
		max-width: rem(125);
		font-weight: 700;
		@media (max-width: $mobileSmall) {
			padding-bottom: rem(35);
			margin-top: rem(-70);
		}
	}

	// .row__text

	&__text {
		line-height: math.div(22, 18);
		span {
			display: block;
		}
	}

	// .row__language

	&__language {
		font-size: rem(16);
		line-height: math.div(20, 16);
		.menu-open & {
			z-index: 4;
		}
		@media (max-width: $mobileSmall) {
			display: none;
			.menu-open & {
				display: block;
				position: absolute;
				bottom: rem(20);
				right: rem(20);
				font-size: rem(34);
				line-height: math.div(42, 34);
				font-weight: 700;
			}
		}
	}

	// .row__image-ibg

	&__image-ibg {
		background: url("@img/mainblock/01.jpg") 50% 0 no-repeat;
		padding-top: rem(480);
		@include adaptiveValue("margin-bottom", 100, 80);
		@media (min-width: $mobileSmall) {
			@include adaptiveValue("margin-top", 50, 30);

			background: url("@img/mainblock/img.jpg") center / cover no-repeat;
			@include adaptiveValue("padding-top", 390, 150);
		}
	}
}

.language {
	writing-mode: vertical-lr;

	@media (min-width: $mobileSmall) {
		transform: rotate(180deg);
	}
	// .language__rueng

	&__ru {
		color: $mainSilverColor;
	}
	&__eng {
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobileSmall) {
		display: block;
		position: relative;
		width: rem(33);
		height: rem(20);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(4);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(2));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
				background-color: $mainSilverColor;
			}
			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(2));
				transform: rotate(45deg);
			}
		}
	}
}
